  
   .header{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 3px solid red;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
    flex-direction: row;
    z-index: 1;
    
   }

            
   .right{
    padding-right: 20px;
    background-color: red;
    margin-right: 50px;
   }                  
   .right ul {
      display: inline-flex;
    list-style: none;
   }
   .right ul li{
    padding: 19px;
   }
   .high{
    font-size: 70px;
    color: orangered;
   }
   body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
    padding-top: 6%;

   }
   .container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    
    
   }
   #showcase{
    background: url(../img/background.jpg) no-repeat;
    text-align: center;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    color: white;

   }
   #showcase h1{
    font-size: 60px;
    margin-top: 200px;
    margin-bottom: 15px;

   }
   #showcase p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
   }
   .butt{
    background-color: orangered;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
   }
   #newsletter input{
    font-weight: bolder;
    padding: 15px;
    width: 250px;
   }
   #newsletter  div{
    background: darkslateblue;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   }

   
     #newsletter form{
      padding: 20px;
      margin-top: 15px;
     }
   .one{
      width: 470px;
   }
   #plus div{
   
margin-top: 15px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: relative;



   }
   .box, .abs{
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      
      
   }


   .on{
      width: 340px;
   }
   #plus .box h1{
      font-size: 50px;
      font-weight: bold;
   }
   #plus .box p{
      font-size: 30px;
      font-weight: bolder;

   }
   footer{
      text-align: center;
      font-size: 30px;
      background: orangered;
      padding: 20px;
      color: wheat;
      font-weight: bolder;

   }
   .dark{
      background-color: black;
      color: white;
      font-size: 40px;
      padding: 42px;
      
      line-height: normal;
   
      text-align: justify;
   
   
   }
   .undark{
      text-align: justify;
      font-size: 40px;
      border: 1px solid #cccccc;
      background: #e6e6e6e6;
      padding: 30px;
      
   }
   .today{
      text-align: justify;
      
      background: orange;
      border: 1px solid #cccccc;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      vertical-align: top;

   }
  

#main article{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   vertical-align: top;
}
#main aside{
   background: #e6e6e6e6;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 70px;
   
   
}
 #main aside h3{
   font-size: 40px;
   font-weight: bold;
   text-align: left;
}




   #airtel{
      background-color: black;
      color: white;
      padding: 20px;
      width: 30%;
      float: right;
      margin-top: 20px;
   }
    aside#airtel input{
      width: 400px;
      padding: 20px;
      font-size: 40px;
      font-weight: 100;
   }
   .gg{
      background-color: orangered;
      padding: 20px;
      color: white;
      font-size: 20px;
      

   }
   #glo{
      width: 60%;
      float: left;
      font-weight: bolder;
      margin-top: 20px;
      padding: 20px;

   }
   #glo ul li{
      list-style: none;
      padding: 30px;
      border: 1px solid #cccccc;
      background: #e6e6e6e6;
      margin-bottom: 20px;
      font-size: 40px;
      text-align: justify;
   }
   #glo h1{
      font-size: 60px;
      font-weight: bolder;
      text-transform: uppercase;
   }
   #glo h1:hover{
      color: orange;
   }
   a{
      text-decoration: none;
      color: white;
   }
   a:hover{
      color: orangered;

   }
   #man p{
      text-align: justify;
      font-size: 40px;
   }
   .area{
      width: 430px;
      padding: 12px;
      font-weight: bold;
      font-size: 30px;
   }

   
@media (max-width: 600px)  {

   .header{
      background-color: green;
      flex-direction: column;
   
     }

     #plus div{
   
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
         }

         .one{
            margin: auto;
         }
         .on{
            margin: auto;
         }

         #newsletter  div{
            background: purple;
            padding: 40px;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
         
        
           }
}
 
 
@media (min-width: 768px) {
   
   .header{
      background-color: purple;
      flex-direction: column;
      
     }


     #plus div{
   
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
         }

         .one{
            margin: auto;
         }

         .on{
            margin: auto;
         }


         #newsletter  div{
            background: gray;
            padding: 40px;
            color: black;
            display: flex;
            flex-direction: column;
            text-align: center;
         
        
           }
}
 
@media (min-width: 992px) {
   
   .header{
      background-color: pink;
      flex-direction: column;
      flex-direction: row;
      
     }


     #plus div{
   
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      
         }

}
 
@media (min-width: 12000px) {
   
   .header{
      background-color: purple;
      flex-direction: column;
      justify-content: space-between;
      flex-direction: row;
     }

     #plus div{
   
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
         }
}