  
   .header{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 3px solid red;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
    flex-direction: row;
    z-index: 1;
    
   }

            
   .right{
    padding-right: 20px;
    background-color: red;
    margin-right: 50px;
   }                  
   .right ul {
      display: inline-flex;
    list-style: none;
   }
   .right ul li{
    padding: 19px;
   }
   .high{
    font-size: 70px;
    color: orangered;
   }
   body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
    padding-top: 6%;

   }
   .container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    
    
   }
   #showcase{
    background: url(../img/background.jpg) no-repeat;
    text-align: center;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    color: white;

   }
   #showcase h1{
    font-size: 60px;
    margin-top: 200px;
    margin-bottom: 15px;

   }
   #showcase p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
   }
   .butt{
    background-color: orangered;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
   }
   #newsletter input{
    font-weight: bolder;
    padding: 15px;
    width: 250px;
   }
   #newsletter  div{
    background: darkslateblue;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   }

   
     #newsletter form{
      padding: 20px;
      margin-top: 15px;
     }
   .one{
      width: 470px;
   }
   #plus div{
   
margin-top: 15px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: relative;



   }
   .box, .abs{
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      
      
   }


   .on{
      width: 340px;
   }
   #plus .box h1{
      font-size: 50px;
      font-weight: bold;
   }
   #plus .box p{
      font-size: 30px;
      font-weight: bolder;

   }
   footer{
      text-align: center;
      font-size: 30px;
      background: orangered;
         padding: auto;
      color: wheat;
      font-weight: bolder;

   }
   .dark{
      background-color: black;
      color: white;
      font-size: 40px;
      padding: 42px;
         t-align: justify;
   
   
   }
   .undark{
      text-align: justify;
      font-size: 40px;
      border: 1px solid #cccccc;
      background: #e6e6e6e6;
      padding: 30px;
      
   }
   .today{
      text-align: justify;
      
      background: orange;
      border: 1px solid #cccccc;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      vertical-align: top;

   }
  

#main article{
   display: flex;
   flex-direction: row;
   align-items: center;
   vertical-align: top;
   justify-content: space-between;
}




   #airtel{
      background-color: black;
      color: white;
      padding: 20px;
      width: 30%;
      float: right;
      margin-top: 20px;
   }
    aside#airtel input{
      width: 400px;
      padding: 20px;
      font-size: 40px;
      font-weight: 100;
   }
   .gg{
      background-color: orangered;
      padding: 20px;
      color: white;
      font-size: 20px;
      

   }
   #glo{
      
      flex-direction: row;
      display: flex;
      margin-top: 20px;
      padding: 20px;

   }
   #glo ul li{
      list-style: none;
      padding: 30px;
      border: 1px solid #cccccc;
      background: #e6e6e6e6;
      margin-bottom: 20px;
      font-size: 40px;
      text-align: justify;
   }
   #glo h1{
      font-size: 60px;
      font-weight: bolder;
      text-transform: uppercase;
   }
   #glo h1:hover{
      color: orange;
   }
   a{
      text-decoration: none;
      color: white;
   }
   a:hover{
      color: orangered;

   }
   #man p{
      text-align: justify;
      font-size: 40px;
   }
   .area{
      width: 430px;
      padding: 12px;
      font-weight: bold;
      font-size: 30px;
   }

   #glo form{
      background: black;
      width: 500px;
      padding: 15px;
   }
   #glo input{
      font-weight: bold;
      font-size: 15px;
      width: 300px;
      padding: 15px;
   }

   
@media (max-width: 768px)  {

   .area{
      width: 200px;
      padding: 6px;
      font-weight: bold;
      font-size: 20px;
   }


   #glo form{
      background: #e6e6e6e6;
      width: 350px;
      padding: 10px;
      margin: auto;
   }
   #glo input{
      font-weight: bold;
      font-size: 15px;
      width: 300px;
   
   }

   #plus .box h1{
      font-size: 30px;
      font-weight: bold;
   }
   #plus .box p{
      font-size: 20px;
      font-weight: bold;
      padding: 15px;

   }


   footer{
      text-align: center;
      font-size: 20px;
      background: black;
      padding: 30px;
      color: white;
      font-weight: bold;
      
      

   }
   .high{
      font-size: 40px;
      color: red;
      font-weight: bold;
     }

        
   .right{
    
    background-color: red;
    
   }                  
   .right ul {
      display: inline-flex;
    list-style: none;
   }
   .right ul li{
    padding: 20pxpx;
   }

   .header{
      background-color: green;
      flex-direction: column;
      
   
     }

     #plus div{
   
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
         }

         .one{
            margin: auto;
            width: 90px;
         }
         .on{
            margin: auto;
            width: 90px;
         }

         #newsletter  div{
            background: purple;
            font-size: 17px;
            color: white;
            
            flex-direction: column;
            text-align: center;
         
        
           }

           
   #showcase{
      
      text-align: center;
      min-height: 500px;
      background-size: cover;
      background-position: center;
      color:  white;
  
     }
     #showcase h1{
      font-size: 30px;
      margin-top: 300px;
      text-transform: uppercase;
      font-weight: bold;
      
  
     }
     #showcase p{
      font-size: 20px;
   
      margin-top: 50px;
      padding: 12px;
     }

     /* working on about.html*/
     
#main article{
   font-size: 13px;
   flex-direction: column;
   margin-top: 100px;
}


.dark{
   background-color: black;
   color: white;
   font-size: 15px;
   padding: 15px;
   text-align: justify;


}
.undark{
   text-align: justify;
   font-size: 15px;
   border: 1px solid #cccccc;
   background: #e6e6e6e6;
   padding: 15px;
   
}
.today{
   text-align: justify;
   background: orange;
   border: 1px solid #cccccc;
   padding: 20px;
   font-size: 15px;

}

.dark:hover{
background-color: #e6e6e6e6;
color: black;
}

#glo{
      
   flex-direction: column;

   padding: 20px;

}

#glo ul li{


   
   text-align: justify;
   font-size: 20px;

}
#glo h1{
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 150px;
   text-align: center;
}
}
 
 
@media (min-width: 768px)  and (max-width: 1024px) {

   
#main article{
   font-size: 13px;
   flex-direction: column;
   margin-top: 10px;
}

   
#glo{
      
   flex-direction: column;

   padding: 20px;

}

#glo ul li{


   
   text-align: justify;
   font-size: 20px;

}
#glo h1{
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 150px;
   text-align: center;
}
     


.dark{
   background-color: black;
   color: white;
   font-size: 15px;
   padding: 15px;
   text-align: justify;


}
.undark{
   text-align: justify;
   font-size: 15px;
   border: 1px solid #cccccc;
   background: #e6e6e6e6;
   padding: 15px;
   
}
.today{
   text-align: justify;
   background: orange;
   border: 1px solid #cccccc;
   padding: 20px;
   font-size: 15px;

}

.dark:hover{
background-color: #e6e6e6e6;
color: black;
}
   .area{
      width: 200px;
      padding: 6px;
      font-weight: bold;
      font-size: 20px;
   }


   #glo form{
      background: #e6e6e6e6;
      width: 350px;
      padding: 10px;
      margin: auto;
   }
   #glo input{
      font-weight: bold;
      font-size: 15px;
      width: 300px;
   
   }

   #showcase h1{
      font-size: 30px;
      margin-top: 300px;
      margin-bottom: 6px;
  
     }

     #showcase p{
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
     }

   #plus .box h1{
      font-size: 40px;
      font-weight: bold;
   }
   #plus .box p{
      font-size: 30px;
      font-weight: bold;
      padding: 15px;

   }


   footer{
      text-align: center;
      font-size: 30px;
      background: black;
      padding: 30px;
      color: white;
      font-weight: bold;
      
      

   }
   
   .header{
      background-color: purple;
      flex-direction: column;
      justify-content: space-around;
      
     }


     #plus div{
   
      margin-top: 20px;
   
      flex-direction: column;
      justify-content: space-around;
      
         }

         .one{
            margin: auto;
            width: 200px;
            
         }

         .on{
            margin: auto;
            width: 200px;
            
         }


         #newsletter  div{
            background: black;
            color: white;
         
            flex-direction: column;
            text-align: center;
            
         
        
           }
}
@media (min-width: 1024px){
   .header{
      background-color: black;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
   
     }

     footer{
      text-align: center;
      font-size: 30px;
      background: black;
      padding: 30px;
      color: white;
      font-weight: bold;
      
      

   }

   #plus .box h1{
      font-size: 50px;
      font-weight: bolder;
   }
   #plus .box p{
      font-size: 30px;
      font-weight: bold;
      padding: 20px;

   }


   
     #showcase h1{
      font-size: 60px;
      margin-top: 200px;
      text-transform: uppercase;
      font-weight: bolder;
      
  
     }
     #showcase p{
      font-size: 30px;
   
      margin-top: 20px;
      padding: 12px;
     }

     
     #newsletter  div{
      background: orangered;
      font-size: 30px;
      color: white;
      
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
   
  
     }

     
   .butt{
      background-color: goldenrod;
      padding-top: 20px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      color: white;
      font-weight: bold;
   
      
     }

     #newsletter form{
      margin-right: 35px;
     }

     
   
#glo{
      
   flex-direction: row;
   justify-content: space-between;

   padding: 20px;

}

#glo ul li{


   
   text-align: justify;
   font-size: 20px;

}
#glo h1{
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;

   text-align: center;
}
     




   #glo form{
      background: #e6e6e6e6;
     
   }
   #glo input{
      font-weight: bold;
      font-size: 15px;
      
   
   }
}
 